# Compiled Helm chart dependencies
charts/**/Chart.lock
charts/**/charts/

# Testing
__snapshot__/

# Docs
_site/

# Packaged release artifacts
charts/*.tgz

# Local signing keys
charts/cosign.key
charts/cosign.pub
